
<%= link_to root_path, class: "navlink position-relative" do %>
  <i class="bi bi-house icon-navbar middled"></i>
  <span class="text-navbar middled"> Home </span>
<% end %>

<%= link_to athletes_path, class: "navlink position-relative" do %>
  <i class="bi bi-star icon-navbar middled"></i>
  <span class="text-navbar middled"> Subs </span>
<% end %>  

<% if current_user %>
  <%= link_to user_path(current_user.id), class: "navlink position-relative" do %>
    <i class="bi bi-person icon-navbar middled"></i>
    <span class="text-navbar middled"> My Profile  </span>
  <% end %>  
<% end%>

<% if athlete_user %>
  <%= link_to dashboard_athlete_activities_path, class: "navlink position-relative" do %>
    <i class="bi bi-clipboard2-data icon-navbar middled"></i>
    <span class="text-navbar middled"> Dashboard  </span>
  <% end %>  
  <%= link_to new_post_path, class: "navlink position-relative" do %>
    <span> New Post </span>
  <% end %>  
<% end %>