<div class="d-flex justify-content-center">

  <div class="card card-connexion m-2 p-4 text-center light-beige-colored shadow-lg">

    <h2 class="my-4 fs-1">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email...",
              class:"form-control my-2" %>

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />

        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password...",
              class:"form-control my-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirmation ...",
              class:"form-control my-2" %>

      <button type="submit" class="btn btn-lg btn-primary container-fluid my-4" data-turbo="false">
        <i class="fa-solid fa-xl fa-square-check"></i> 
        <span class="fw-bold ms-2"> Sign up</span>
      </button>

    <% end %>
    
    <div class="my-4">
      <%= render "devise/shared/links" %>
    </div>



  </div>


</div>