<div id="<%= dom_id athlete %>">
  <p>
    <strong>User:</strong>
    <%= athlete.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <%= image_tag(athlete.panorama_pic, class: "card-img-top profile-pic mx-auto d-block my-2") %>

  <%= image_tag(athlete.profile_pic, class: "card-img-top profile-pic mx-auto d-block my-2") %>

  <p>
    <strong>Bio:</strong>
    <%= athlete.bio %>
  </p>

</div>
