<div class="card bg-light-grey m-0 p-0 shadow-sm mb-3"> 
  <div class="m-0 p-0 mb-2 custom-rounded" id="<%= dom_id athlete %>">
    <div class="image_wrapper">
      <div class="sized">
        <%=link_to image_tag(athlete.default_panorama_pic, class: "panorama-img custom-rounded"), athlete_path(athlete)  %> 
      </div>
    </div>
    <div class="profile-pic-overlay">
      <%=link_to image_tag(athlete.default_profile_pic, class: "profile-pic"), athlete_path(athlete) %> 
    </div>
    <div class="pt-5 profile-card-text px-4">
      <h4 class="fs-1 fw-bold"><%= link_to athlete.name, athlete_path(athlete),class:"no-underline" %></h4>
      <div class=""> <%= Sport.find(athlete.sport_id).name if athlete.sport_id.present?  %></div>
      <div class="m-0 p-0">
        <% if appartenance_athlete(athlete)  %>
          <div class="container p-0 my-1 d-flex">
            <%= link_to edit_athlete_path(athlete), class: "btn btn-secondary me-1" do %>
              <i class="fa-solid fa-xl fa-pen-to-square me-1"></i>
              <span class="fw-bold">Edit</span>
            <% end %>
            
            <%= button_to destroy_user_session_path, method: :delete, 
              data: {turbo: "false"},
              class: "btn btn-danger" do %>
              <i class="fa-solid fa-xl fa-right-from-bracket me-1"></i>
              <span class="fw-bold">Log out</span>

            <% end %>
            
          </div>
        <% end %>
      </div>

    </div>
        
  </div>


  <div class="p-2">

    <% if athlete.campaigns.where(principale: true).present? %>

      <% if subscribed_fan_to_campaign?(athlete.campaigns.where(principale: true).first, fan_user) %>

      <%# subscribe ou unsubscribe si fan abonné %>
        <div data-turbo='false' class="mt-4">
          <%= form_with url: :unsubscribe_session do |f| %>
            <%= f.hidden_field :id, value: athlete.campaigns.where(principale: true).first.id %>
            <%#= f.submit 'Subscribe', class: "btn w-100 fa orange-bg-colored text-light" %>

            <div class="container-fluid m-0 p-0 text-end">
              <%= button_tag(type: "submit", class: "btn w-100 bg-secondary text-light fw-bold") do %>
                <i class="fa-solid fa-plus mx-1"></i>
                <span class="fw-bold">Unsubscribe</span>
              <% end %>
            </div>
          <% end %>
        </div>  

      <% else %>
        <div data-turbo='false' class="mt-4">
          <%= form_with url: :create_checkout_session do |f| %>
            <%= f.hidden_field :id, value: athlete.campaigns.where(principale: true).first.id %>
            <%#= f.submit 'Subscribe', class: "btn w-100 fa orange-bg-colored text-light" %>

            <div class="container-fluid m-0 p-0 text-end">
              <%= button_tag(type: "submit", class: "btn w-100 orange-bg-colored text-light fw-bold") do %>
                <i class="fa-solid fa-plus mx-1"></i>
                <span class="fw-bold">Subscribe</span>
              <% end %>
            </div>
          <% end %>
        </div>  
      <% end %>
      
    <% end %>

    <%= link_to root_path, class: "btn w-100 btn-outline-secondary text-dark my-1" do %>
      <i class="fa fa-rocket mx-1"></i>
      <span class="fw-bold"> My objectives </span>
    
    <% end %>
    
  </div>

  <p class="text-center"><%= athlete.bio %></p>

</div>

<div>

<%# voir si besoin de campaign public et de separer fan et ahtlete %>
  <% if fan_user %>
    <% athlete.campaigns.each do |campaign| %>
      <div class="card bg-light-grey shadow-sm my-2 p-2">
        <%= render campaign %>
      </div>

      <%#= campaign_public(campaign) %>
    <% end %>
  <% else %>
    <% athlete.campaigns.each do |campaign| %>
      <div class="card bg-light-grey shadow-sm my-2 p-2">
        <%= render campaign %>
      </div>
    <% end %>
  <% end %>
</div>
