<div class="card" style="border: none;"> 
  <div class="card-profile card-with-effect m-0 p-0 mb-2 custom-rounded" id="<%= dom_id athlete %>">
    <div class="image_wrapper">
      <div class="sized">
        <%=link_to image_tag(athlete.default_panorama_pic, class: "panorama-img custom-rounded"), athlete_path(athlete)  %> 
      </div>
    </div>
    <div class="profile-pic-overlay">
      <%=link_to image_tag(athlete.default_profile_pic, class: "profile-pic"), athlete_path(athlete) %> 
    </div>
    <div class="pt-5 profile-card-text px-4">
      <h4 class=""><%= link_to athlete.name, athlete_path(athlete),class:"no-underline" %></h4>
      <p class=""><strong>Sport:</strong> <%= Sport.find(athlete.sport_id).name if athlete.sport_id.present?  %></p>
      <p class=""><strong>Bio:</strong> <%= athlete.bio %></p>

      <% if appartenance_athlete(athlete)  %>
        <%= link_to edit_athlete_path(athlete), class: "btn btn-sm btn-secondary" do %>
          <i class="fa-solid fa-pen-to-square m-1"></i>
          <span class=""> Edit  </span>
        <% end %>

        <%= link_to new_campaign_path(), class: "btn btn-sm btn-success" do %>
          <i class="fa-solid fa-money-bill-wave m-1"></i>
          <span class=""> New campaign  </span>
        <% end %>

      <% end %>

    </div>

    <div>
      
      <% athlete.campaigns.each do |campaign| %>
        <%= campaign_public(campaign) %>
      <% end %>

      
    </div>
  </div>

</div>
