<%= render @athlete %>

<div id="partial-container" class="partial-topic">
  <%# recoit le turbo stream avec elements cliqués %>
  <%= render 'athletes/media_images' %>
</div>

<% if appartenance_athlete(@athlete)  %>

  <% unless @athlete.campaigns.where(principale: true).present? %>
    
      <%= button_to display_campaign_type_athletes_path(principale: true), 
          data: { bs_toggle: "offcanvas", bs_target: "#offcanvasBottom", bs_controls: "offcanvasBottom" },
           class: "btn orange-bg-colored text-light mt-4 w-100 px-2" do %>
        <i class="fa fa-plus"></i>
        <span class="fw-bold"> create main campaign </span> 
      <% end %>
  <% end %>

  <%= button_to display_campaign_type_athletes_path(principale: false), 
      data: { bs_toggle: "offcanvas", bs_target: "#offcanvasBottom", bs_controls: "offcanvasBottom" },
        class: "btn orange-bg-colored text-light mt-4 w-100 px-2" do %>
    <i class="fa fa-plus"></i>
    <span class="fw-bold"> create pop up campaign </span> 
  <% end %>

  
  <div class="offcanvas offcanvas-bottom h-50" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottom">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottom">
      </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="new_campaign" class="offcanvas-body small">
      <%= render partial: "campaigns/form", locals: { campaign: Campaign.new, athlete: @athlete } %>
    </div>
  </div>


<% end %>

