<%# posts infinite scroll pagination %>


  <%= turbo_stream.append :athletes do %>

    <div class="container-fluid d-flex justify-content-center my-1">
      <% @athletes.each do |athlete| %>
        <div class="container card-discover m-2">
          <%= link_to athlete_path(athlete), class: "no-underline" do %>
            <%= render partial: 'athletes/athlete_mini', locals: { athlete: athlete } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>


<%= turbo_stream.replace :pagination do %>
    <% if @pagy&.next.present? %>
        <%= turbo_frame_tag :pagination, loading: :lazy, 
            src: pages_discover_path(format: :turbo_stream, page: @pagy.next) %>
    <% end %>
<% end %>
