<%= form_with(model: fan) do |form| %>
  <% if fan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fan.errors.count, "error") %> prohibited this fan from being saved:</h2>

      <ul>
        <% fan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="input-group input-group mb-2">
    <%= form.label :pseudo, class: "input-group-text label-colored" %>
    <%= form.text_field :pseudo, class: "form-control input-colored" %>
  </div>
  
  <div class="input-group input-group mb-2">
    <%= form.label :profile_pic, class: "input-group-text label-colored" %>
    <%= form.file_field :profile_pic, accept: "image/jpeg, image/png", class: "form-control input-colored"%>
  </div>


  <div class="input-group input-group mb-2">
    <%= form.label :bio, class: "input-group-text label-colored" %>
    <%= form.text_area :bio, class: "form-control input-colored" %>
  </div>

  <%= custom_submit_button("Create fan") %>

<% end %>
