<div id="<%= dom_id subscription %>">
  <p>
    <strong>Campaign:</strong>
    <%= subscription.campaign_id %>
  </p>

  <p>
    <strong>Fan:</strong>
    <%= subscription.fan_id %>
  </p>

  <p>
    <strong>Stripe product:</strong>
    <%= subscription.stripe_product_id %>
  </p>

  <p>
    <strong>Stripe price:</strong>
    <%= subscription.stripe_price_id %>
  </p>

</div>
