<h1 class="text-center my-1">
  <%= link_to image_tag("shado-logo.png", width: 300), pages_index_path %> 
  <div class="container my-2">
    <%= link_to new_user_session_path, class: "btn btn-warning mx-1 p-2" do %>
      <i class="fa-solid fa-user-lock me-1"></i>
      <span class="fw-bold"> Log in</span>
    <% end %>
    
    <%= link_to new_user_registration_path, class: "btn btn-primary mx-1 p-2" do %>
      <i class="fa-solid fa-user-plus me-1"></i>
      <span class="fw-bold"> Sign up</span>
    <% end %>
    
  </div>
</h1>


<div class="video-container position-relative">
  <div data-controller="video">
    <video autoplay loop muted playsinline
      src="https://res.cloudinary.com/dukne3lhz/video/upload/v1711484581/zeqp4xervxhlwlq1l3bu.mp4" 
      type="video/mp4" id="video-background" data-video-target="video">
    </video>
  </div>

  <div class="text-container position-absolute top-50 w-100 px-4 mb-4">

    <div class="container" style="max-width: 800px;">

      <h1 class="fw-bold mb-4 text-center text-light fs-1">
        Shado Sports - Share and donate
      </h1>

      <h2 class="text-center text-light my-4">
        A place where you can share your journey and get support from your community
      </h2>

      <%= link_to pages_index_path, class:"w-100 btn-join mb-3" do %>
        <i class="me-2 fa fa-solid fa-lg fa-trophy" aria-hidden="true"></i>
        Joins us !
      <% end %>

      <div class="my-2">
        <%= render 'counters' %>
      </div>

    </div>

  </div>
</div>

<div class="container-fluid green-colored my-2 py-2">   
  <h2 class="text-light text-center fw-bold my-4">How does it work?</h2>

  <div class="row justify-content-center p-2 my-1">
    <div class="col-sm-12 col-md-6 bg-light rounded my-1">
      <%= image_tag("screenshot1.png", class: "img-fluid") %> 
      <h3>Athlete side</h3>
    </div>
    <div class="col-sm-12 col-md-6  bg-light rounded my-1">
      <%= image_tag("screenshot1.png", class: "img-fluid") %> 
      <h3>Fan side</h3>
    </div>
  </div>
  
  <div class="row p-2">
    <div class="col-12 mb-3">
      <div class="video-container">  
        <video autoplay loop muted playsinline
          src="https://res.cloudinary.com/dukne3lhz/video/upload/v1711486973/tk6yc00uil3n2wvztdcn.mp4" 
          type="video/mp4" id="video-background" data-video-target="video">
        </video>
      </div>
    </div>
  </div>

  <%= link_to pages_index_path, class:"w-100 btn-join mb-3" do %>
      <i class="me-2 fa fa-solid fa-lg fa-trophy" aria-hidden="true"></i>
      Joins us !
  <% end %>

</div>

<div class="container-fluid">
  <h2 class="fw-bold my-4 ps-4">Share your journey</h2>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/buffer_rafiki.svg", "Exclusive content", "Upload exclusive behind-the-scenes content") %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/finish_line.svg", "Clear objectives", "Tell your goals and visions") %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/live_collaboration.svg", "Build a community", "Connect more intimately with you fan base, friends and family") %>
    </div>

  </div>

</div>


<div class="container-fluid mt-5">
  <h2 class="fw-bold my-4 ps-4">Get support</h2>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/finance_leaders.svg", "Subscription", "For you fan base to access 100% of your exclusive content, set up a monthly subscription fee") %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/helping_partner.svg", "Pop up campaign", "In case of an unplanned event, set up a pop campaign and raise extra cash") %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= reanimated_svg_with_content("svgs/environment.svg", "Emotional", "Part of the platform fee will be redirected towards charity") %>
    </div>
  </div>

</div>

<div class="container-fluid p-0 my-3">
    <div class="position-relative">
      <%= image_tag("https://res.cloudinary.com/dukne3lhz/image/upload/v1711489478/pexels-photo-931018_ifewi9.jpg", 
            class: "img-fluid", 
            alt: "", 
            style: "max-height: 400px; width: 100%; height: auto; object-fit: cover;") %>

        <div class="card p-2 green-colored position-absolute top-50 start-50 translate-middle text-center text-white shadow-sm">
            <h2>Environment redistribution</h2>
            <small>part of the revenu will be donated to charity helping the planet</small>
        </div>
    </div>
</div>

<div class="container-fluid my-3">
  <div class="row">
    <div class="col light-grey-colored rounded shadow-sm m-2">
      <%= reanimated_svg_with_content("svgs/select_amigo.svg", "Verified members", "All athletes are verified and approved by our team") %>
    </div>
    <div class="col light-grey-colored rounded shadow-sm m-2">
      <%= reanimated_svg_with_content("svgs/verified_rafiki.svg", "Selected associations", "Our associations are rigoulously selected and have one comon goal: protect environment") %>
    </div>
  </div>
</div>

<div class="container-fluid green-colored text-light text-center py-5">

  <h2 class="fw-bold my-2">Are you ready to go?</h2>
  <small class=""> Become a member and take a career to the next level</small>

  <%= link_to pages_index_path, class:"w-100 btn-join my-3" do %>
      <i class="me-2 fa fa-solid fa-lg fa-trophy" aria-hidden="true"></i>
      Joins us !
  <% end %>

</div>

<footer>
  <small>
    <p class="container-fluid text-center my-5" style="font-style: italic;">
      Icons by
      <a class="no-underline" href="https://storyset.com/">Animated illustrations by Storyset</a>
    </p>
  </small>   
</footer>
