<% unless @user %>
    
  <%# to do contrsuire fonction message all et recherche user%>
  <div class="form-check form-switch fs-5 my-2">
    <%= label_tag 'statusToggle', 'Message all your fans', class: 'form-check-label text-center me-2' %>
    <%= check_box_tag 'status', '1', false, class: 'form-check-input', id: 'statusToggle' %>
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" class="">
      <i class="fa fa-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <%= turbo_stream_from "users" %>
  <div id="users" class="my-2">
    <ul class="list-group">
      <%= render @users %>
    </ul>
  </div>

<% end %>


<% if @single_room %>
    <h4 class="text-center">
      <%= @user&.email || @single_room.name %>
    </h4>
    <%= turbo_stream_from @single_room%>
    <div id="messages" data-controller="scroll">
      <%= render @messages %>
    </div>
    <%= render partial: 'layouts/new_message_form' %>
  </div>
<% end %>

  <%= link_to  "retour vers messages", rooms_path, class: "btn btn-dark mt-3" %>
