<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :athlete_id, style: "display: block" %>
    <%= form.text_field :athlete_id, value: Athlete.where(user: current_user.id).first.id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>
    
  <div>
    <span class="fa fa-photo-film btn-main"></span>
    <%= form.file_field :media %>
  </div>


  <div>
    <%= form.label :exclusif, style: "display: block" %>
    <%= form.check_box :exclusif %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
