<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "m-0 p-0">
    <%#= form.label :content, style: "display: block" %>
    <%= form.text_area :content, placeholder: "Compose new post... ", class: "form-control createpostdesign" %>
  </div>

  <% if post.persisted? %>
    <%= form.hidden_field :athlete_id %>
  <% else %>
    <%= form.hidden_field :athlete_id, value: athlete_user.id %>
  <% end %>

  <div class="my-2">
    <span class="fa fa-photo-film btn-main"></span>
    <%= form.file_field :media %>
  </div>


  <div class="form-check form-switch">
    <%= form.label :exclusif, class: "form-check-label" %>
    <%= form.check_box :exclusif, class: "form-check-input" %>
  </div>

  
<div class="container-fluid text-end m-2 p-2"> 
  <button type="submit" class="btn btn-primary">
    <span><i class="bi bi-check"></i> Create!</span>
  </button>
</div>

<% end %>

<style>
  .image-upload > input {
    display: none;
  }
  .image-upload > label {
    cursor:pointer;
  }

  .video-upload > input {
    display: none;
  }
  .video-upload > label {
    cursor:pointer;
  }
</style>