<div id="<%= dom_id post %>" class="m-0 p-0">

  <div class="<%= visible(post) ? '' : 'exclusive-post' %> m-0 p-0">

    <div class="mt-1 p-0 ms-2">
      <%= link_to image_tag(post.athlete.default_profile_pic, class:"profile-pic-mini"), athlete_path(post.athlete)  %>
      <span class="fw-bold"> <%= link_to post.athlete.name, athlete_path(post.athlete), class:"no-underline fs-5" %></span> 
      <small> <%= time_ago_in_words(post.created_at) %> ago </small> <br> 
    </div>

    <div class="my-1 ms-3"> 
      <%= post.content %> 
    </div>

    <div class="">
      <%= render 'posts/attachment', post: post %>
    </div>
    
    
    <div class="">
      <%= render 'posts/reactions', post: post %>
    </div>
    

  </div>

</div>
