<div id="<%= dom_id post %>" class="card m-2">

  <div class="<%= visible(post) ? '' : 'exclusive-post' %>">
    <p>
      <strong>Athlete:</strong>
      <%= post.athlete_id %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= post.location %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>Exclusive:</strong>
      <%= post.exclusif %>
    </p>
  </div>

</div>
