<div id="<%= dom_id campaign %>" class="text-center">

  <%= image_tag campaign.default_panorama_pic, class: "rounded" %>

  <div class="container text-start">
  <p>
    <strong class="orange-colored">
      <%= campaign.title %>
    </strong>
  </p>

  <p>
    <%= campaign.description %>
  </p>

  <p>
    <%= campaign.target %>
  </p>

</div>

<%# adapter pour correspondre aux datas %>
<h4 class="text-start">  progress</h4>
<div class="progress my-2 mb-4">
  <div class="progress-bar progress-bar bg-warning" role="progressbar" aria-label="Warning striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>



  <div data-turbo='false'>
    <%= form_with url: :create_checkout_session do |f| %>
      <%= f.hidden_field :id, value: campaign.id %>
      <%= f.submit 'Donate now', class: "btn w-100 fa orange-bg-colored text-light", style: "font-family: Arial, sans-serif;" %>
    <% end %>
  </div>

  <% if athlete_user && appartenance_athlete(athlete_user) %>
    
    <div class="container-fluid mt-2 d-flex align-items-center justify-content-center">  

      <%#= link_to edit_campaign_path(campaign), class: "btn btn-sm btn-secondary mx-1" do %>
        <!--i class="fa fa-solid fa-xl fa-pen-to-square"></i>
        <span>Editer</span>
      <%# end %>
      
      <%#= button_to campaign, method: :delete, 
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
        class: "btn btn-sm btn-danger mx-1"  do %>
          <i class="fa-solid fa-trash"></i>
          <span>Supprimer</span-->
      <%# end %>

    </div>
  
  <% end %>


</div>
