<div id="<%= dom_id campaign %>" class="card p-2">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Periodicity:</strong>
    <%= campaign.periodicity %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= campaign.subscription %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= campaign.target %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= campaign.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= campaign.end %>
  </p>

  <p>
    <strong>Thankyounote:</strong>
    <%= campaign.thankyounote %>
  </p>

  <div data-turbo='false'>
    <%= form_with url: :create_checkout_session do |f| %>
      <%= f.hidden_field :id, value: campaign.id %>
      <%= f.submit 'Subscribe', class: "btn btn-success m-1 w-100 fa fa-fade", style: "font-family: Arial, sans-serif;" %>
    <% end %>
  </div>
</div>
