<div id="<%= dom_id campaign %>" class="text-center">

  <%= image_tag campaign.default_panorama_pic, class: "panorama-img rounded" %>

  <div class="container text-start p-0 mt-1">
    <strong class="orange-colored">
      <%= campaign.title.upcase  %>
    </strong>

    <div class="fw-bold">
      <%= number_to_currency(campaign.target, unit: "$", precision: 0, delimiter: ",", separator: ".") %>
    </div>
    <div>
      <%= campaign.description %>
    </div>

</div>

  <% unless campaign.principale? %>
    
    <%# adapter pour correspondre aux datas %>
    <h4 class="text-start mt-2">  progress <%= campaign.campaign_progress %>% </h4>
    <div class="progress my-2 mb-4">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= campaign.campaign_progress %>%;" aria-valuenow="<%= campaign.campaign_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>  

  <% end %>

  <div data-turbo='false'>
    <div class="container-fluid  p-0">

      <% if campaign.principale %>
        <%= subscription_button(campaign.athlete, fan_user) %>
      <% else %>

        <%= link_to "#collapseAmount#{campaign.id}", 
              class: "btn w-100 orange-bg-colored text-light fw-bold mx-1", "data-bs-toggle": "collapse", 
              role: "button", "aria-expanded": "false", "aria-controls": "collapseAmount#{campaign.id}" do %>
          <i class="fa fa-regular fa-heart mx-1"></i>
          <span class="fw-bold">Donate</span>
        <% end %>
        
        <%= render partial: 'campaigns/donate_options', locals: { campaign: campaign } %>

        <% if athlete_user && appartenance_athlete(athlete_user) %>
          <div class="container-fluid text-start my-1 p-0">
            <%= link_to edit_campaign_path(campaign), class: "btn btn-outline-secondary" do %>
              <i class="fa fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
        <% end %>
              
      <% end %>
    </div>
  </div>

  <% if athlete_user && appartenance_athlete(athlete_user) %>
    
    <div class="container-fluid mt-2 d-flex align-items-center justify-content-center">  

      <%#= link_to edit_campaign_path(campaign), class: "btn btn-sm btn-secondary mx-1" do %>
        <!--i class="fa fa-solid fa-xl fa-pen-to-square"></i>
        <span>Editer</span>
      <%# end %>
      
      <%#= button_to campaign, method: :delete, 
        data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
        class: "btn btn-sm btn-danger mx-1"  do %>
          <i class="fa-solid fa-trash"></i>
          <span>Supprimer</span-->
      <%# end %>

    </div>
  
  <% end %>


</div>
